:root{
    --main-color: #EADAAD;
    --secondary-color: #D7B75F;
    --tertiary-color: #0D0A03;
}
*{
    margin: 0;
    padding: 0px;
    font-family: "Roboto Slab", serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    background-color: var(--tertiary-color);
}
h1{
    font-family: papyrus, fantasy;
    text-align: center;
    color: lightgrey;
    font-size: 120px;
}
h2{
    font-size:48px;
    
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.flex{
    display:flex;
}
/*Title Screen*/
.title-screen-button{
    height: 60px;
    width: 300px;
    margin: 2px 0;
    font-size: 36px;
    background-color: lightgrey;
    color: black;
    text-align:center;
    border: 6px solid darkgrey;
    display:flex;
    justify-content: center;
}
.title-screen-button:hover, .title-screen-button-selected{
    background-color: white;
    border: 6px solid lightgrey;
}
.title-screen-button-header{
    margin: auto 0;
}
#title-screen{
    background-image: url("./media/titleScreen.jpg");
    background-size:cover;
    height: 100vh;
}
#title-screen-button-container{
    display:flex;
    justify-content: center;
    flex-direction: column;	
    margin: 10% auto;
    width: 300px;
}
/*Character Creation Screen*/
.character-creation-input-row{
    display:flex;
    justify-content: space-between;
    margin: 2px 0;
}
.character-creation-input{
    background-color: lightgrey;
    width: 70%;
    font-size:24px;
    border: none;
    padding: none;
}
.character-creation-inventory-stats-div{
    width:49%;
    height: 100%;
    background-color: var(--main-color);
}
.character-creation-label-header{
    padding-left: 5px;
}
.character-creation-stat-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
#background-lore-header{
    background-color: var(--secondary-color);
}
#character-creation-screen{
    display:none;
    background-color: var( --tertiary-color);
    height: 100vh;
}
#character-creation-header{
    font-size: 28;
    background-color: var(--main-color);
    padding: 0px 5px;
}
#character-creation-row{
    display:flex;
    justify-content: space-between;
}
#character-creation-column-1{
    background-color: var(--secondary-color);
    width: 50%;
    min-width: 576px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
#character-creation-column-2{
    background-color: var(--main-color);
    width: 100%;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#character-creation-inputs-container{
    background-color: var(--main-color);
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 144px;
}
#character-creation-inventory{
    background-color: var(--main-color);
    padding: 5px;
    
}
#character-creator-apperance-image{
    width: 300px;
    margin-top: 10px;
    
}
#character-creation-inventory-stats-container{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    height: 100%;
}
#character-creation-image-submit-btn-container{
    margin-top: 10px;
    background-color: var(--secondary-color);
    
}
#character-creator-image-container{
    text-align: center;
    width: 100%;
}
#character-creation-submit-btn{
    margin: auto;
}
/*App*/
.app-row{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    height: 100vh;    
}
.app-column{
    margin: 0;
    padding: 10px;
}
.action-button{
    background-color: white;
    border-radius: 100%;
    width: 92px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}
.action-button-disabled{
    filter: brightness(0.85);
}
.action-button:hover{
    border: 1px solid white;
    cursor: pointer;
}
.action-button-disabled:hover{
    cursor: not-allowed;
}
.tab-label{
   margin: 5px;
}
.tab-label:hover{
    color: white;
    cursor: pointer;
}
.tab{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    
}
.vital-bar-container{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}
.vital-bar{
    border-radius: 10px;
    height: 12px;
    width: 50%;
    margin: auto;
    background-color: white;
}
.vital-bar-progress{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}
.vital-label{
    width:30%;
    margin: 0 5px;
}
.current-vital-label{
    width:20%;
    margin: 5px;
}
.inventory-slot{
    margin: 0 5px;
    width: calc(100%-10px);
    display: flex;
    justify-content: space-between;
}
.inventory-slot:hover .inventory-slot-menu {
    display: block;
}
.inventory-slot-menu{
    display:none;
    width: 30%;
    position: relative;
}
.slot-menu-use-btn{
    border-radius: 20px;
    background-color: var(--secondary-color);
    text-align: center;
}
.equip-slots-row{
    display: flex;
}
.equip-slot-label{
    width: 30%;
}
.equip-slot{
    width: 40%;
}
.unequip-btn{
    display:none;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 20px;
    width: 30%;
}
.unequip-btn:hover, .slot-menu-use-btn:hover{
    color: white;
}
.equip-slots-row:hover .unequip-btn {
    display: block;
}
.console{
    background-color: var(--secondary-color);
    height: 100%;
    overflow-y: auto;
    text-align: bottom;
    padding:20px;
}
#app{
    display: none;
}
#app-column-1{
    background-color: var(--secondary-color);
    width: 288px;
    flex-shrink: 0;
} 
#app-column-2{
    background-color: var(--main-color);
    width: 100%;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#app-column-3{
    background-color:var(--secondary-color);
    width: 288px;
    flex-shrink: 0;
}
#player-name-container{
    background-color: var(--main-color);
    margin-bottom: 10px;
    display:flex;
    justify-content:space-between;
}
#player-name, #player-level-label{
   margin: 0px 5px;
}
#player-main-stats-container{
    background-color: var(--main-color);
    margin: 10px auto;
    width: 100%;
}
#enemy-main-stats-container{
    background-color: var(--main-color);
    display: none;
}

#action-bar{
    width: 100%;
    margin: 10px 0 0 0;
    background-color:var(--secondary-color);
}
#direction-controls-container{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 6px;
    column-gap: 6px;
    width: 288px;
}
#up-arrow-container{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#right-arrow-container{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
#down-arrow-container{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
#left-arrow-container{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#interact-button-container{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#mini-map-container{
    background-color:var(--main-color);
    width: 288px;
    height: 288px;
    display: none;
}
#mini-map-canvas{
   background-color:#0D0A03;
 
}
#player-image-container{
    background-color:var(--main-color);
    width: 288px;
    height: 288px;
    display: none;
}
#player-image{
    width: 288px;
    height: 288px;
    object-fit: cover;
}
#location-name-container{
    margin-bottom: 10px;
    background-color:var(--main-color);
}
#location-name{
    margin: 0 5px;
}
#enemy-name-container{
    margin-bottom: 10px;
    background-color: var(--main-color);
    display: none;
}
#enemy-name{
    margin: 0 5px;
}
#location-image-container{
    background-color:var(--main-color);
    width: 288px;
    height: 288px;
}
#location-image{
    width: 288px;
    height: 288px;
    object-fit: cover;
}
#enemy-image-container{
    background-color: var(--main-color);
    margin: 0px auto 10px auto;
    width: 288px;
    height: 288px;
    display: none;
}
#enemy-image{
    width: 288px;
    height: 288px;
    object-fit: cover; 
}
#tabs-label-container{
   display:flex;
   background-color:var(--main-color);
}
#items{
    display: none;
}
#health-bar-player-progress{
    background-color: darkred;
    margin-left: auto;
}
#stamina-bar-player-progress{
    background-color: darkgreen;
    margin-left: auto;
}
#magic-bar-player-progress{
    background-color: darkblue;
    margin-left: auto;
}
#health-bar-enemy-progress{
    background-color: darkred;
    margin-left: auto;
}
#stamina-bar-enemy-progress{
    background-color: darkgreen;
    margin-left: auto;
}
#magic-bar-enemy-progress{
    background-color: darkblue;
    margin-left: auto;
}
#inventory-tab{
    display: none;
}
#equip-slots-container{
    margin: 0 5px;
}
#battle-button-container{
    display: flex;
    margin: 5px;
}
#map-button-container{
    margin: 5px;
}
/*Level Up Screen*/
#level-up-screen{
    display: none;
    background-image: url("./media/titleScreen.jpg");
    background-size:cover;
    height: 100vh;
}
#level-up-screen-btn-container{
    display:flex;
    justify-content: space-between;
    margin: 10% 5%;
}
#submit-level-btn{
    margin:auto;
}

/*Game Over Screen*/
#gameover-screen{
    display:none;
}

#gameover-screen-btn-container{
    display:flex;
    justify-content: center;
    flex-direction: column;	
    margin: 10% auto;
    width: 300px;
}