*{
    margin: 0;
    padding: 0px;
    font-family: papyrus, fantasy;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    background-color: #0D0A03;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
p{
    font-size: 16px;
}
h1{
    text-align: center;
    color: lightgrey;
    font-size: 120px;
}

/*Title Screen*/
.title-screen-button{
    height: 60px;
    width: 300px;
    margin: 2px 0;
    font-size: 36px;
    background-color: lightgrey;
    color: black;
    text-align:center;
    border: 6px solid darkgrey;

}
.title-screen-button:hover, .title-screen-button-selected{
    background-color: white;
    border: 6px solid lightgrey;
}
#title-screen{
    background-image: url("./media/titleScreen.jpg");
    background-size:cover;
    height: 100vh;
}
#title-screen-button-container{
    display:flex;
    justify-content: center;
    flex-direction: column;	
    margin: 10%auto;
    width: 300px;
}


/*App*/
.app-row{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    height: 100vh;
    
}
.app-column{
    margin: 0;
    padding: 10px;
    
    
}
.direction-button-container{
    display: inline;
    margin: 0px auto;
}
.direction-button{
    border-radius: 100%;
    width: 92px;
    height: 64px;
    font-family: papyrus, fantasy;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.direction-button-disabled{
    filter: brightness(0.85);
}
.direction-button:hover{
    border: 1px solid white;
    cursor: pointer;
}
.direction-button-disabled:hover{
    cursor: not-allowed;
}
.tab-label{
   margin: 5px;
}
.tab-label:hover{
    color: white;
    cursor: pointer;
}
.tab{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color:#EADAAD;
    
}
.vital-bar-container{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}
.vital-bar{
    border-radius: 10px;
    height: 12px;
    width: 50%;
    margin: auto;
    background-color: white;
}
.vital-bar-progress{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}
.vital-label{
    width:30%;
    margin: 0 5px;
}
.current-vital-label{
    width:20%;
    margin: 5px;
}
.inventory-slot{
    margin: 0 5px;
    width: calc(100%-10px);
    display: flex;
    justify-content: space-between;
}
.inventory-slot:hover .inventory-slot-menu {
    display: block;
}
.inventory-slot-menu{
    display:none;
    width: 30%;
    position: relative;
}
.slot-menu-equip-btn{
    border-radius: 20px;
    background-color:#D7B75F;
    text-align: center;
}

.equip-slots-row{
    display: flex;
}
.equip-slot-label{
    width: 30%;
}
.equip-slot{
    width: 40%;
}
.unequip-btn{
    display:none;
    background-color:#D7B75F;
    text-align: center;
    border-radius: 20px;
    width: 30%;
}
.unequip-btn:hover{
    color: white;
}
.equip-slots-row:hover .unequip-btn {
    display: block;
}






#app{
    display: none;
}
#app-column-1{
    background-color:#D7B75F;
    width: 288px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
    
}
#app-column-2{
    background-color: #EADAAD;
    width: 100%;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#app-column-3{
    background-color:#D7B75F;
    width: 288px;
    flex-shrink: 0;
}
#player-name-container{
    background-color: #EADAAD;
    margin-bottom: 10px;
    display:flex;
    justify-content:space-between;
}
#player-name, #player-level-label{
   margin: 0px 5px;
}
#player-main-stats-container{
    background-color: #EADAAD;
    margin: 10px auto;
    width: 100%;
}
#game-console{
    background-color: #D7B75F;
    height: 100%;
    overflow-y: auto;
    text-align: bottom;
    padding:20px;
}
#enemy-main-stats-container{
    background-color: #EADAAD;
    display: none;
}

#controls-row-1{
    width: 100%;
    margin: 10px auto 0 auto;
    display: flex;
}
#direction-controls-container{
    background-color: #D7B75F;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 6px;
    column-gap: 6px;
    width: 288px;
}
#up-arrow-container{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#right-arrow-container{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
#down-arrow-container{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
#left-arrow-container{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#interact-button-container{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#mini-map-container{
    background-color:#EADAAD;
    width: 288px;
    height: 288px;
    display: none;
}
#mini-map-canvas{
   background-color:#0D0A03;
 
}
#player-image-container{
    background-color:#EADAAD;
    width: 288px;
    height: 288px;
    display: none;
}
#player-image{
    width: 288px;
    height: 288px;
    object-fit: cover;
}
#location-name-container{
    margin-bottom: 5px;
    background-color:#EADAAD;
}
#location-name{
    margin: 0 5px;
}
#enemy-name-container{
    margin-bottom: 10px;
    background-color: #EADAAD;
    display: none;
}
#enemy-name{
    margin: 0 5px;
}
#location-image-container{
    background-color:#EADAAD;
    width: 288px;
    height: 288px;
}
#location-image{
    width: 288px;
    height: 288px;
    object-fit: cover;
}
#enemy-image-container{
    background-color:#EADAAD;
    margin: 0px auto 10px auto;
    width: 288px;
    height: 288px;
    display: none;
}
#enemy-image{
    width: 288px;
    height: 288px;
    object-fit: cover;
    
}
#tabs-label-container{
   display:flex;
   background-color:#EADAAD;
   
}
#items{
    display: none;
}
#health-bar-player-progress{
    background-color: darkred;
    margin-left: auto;
}
#stamina-bar-player-progress{
    background-color: darkgreen;
    margin-left: auto;
}
#magic-bar-player-progress{
    background-color: darkblue;
    margin-left: auto;
}
#health-bar-enemy-progress{
    background-color: darkred;
    margin-left: auto;
}
#stamina-bar-enemy-progress{
    background-color: darkgreen;
    margin-left: auto;
}
#magic-bar-enemy-progress{
    background-color: darkblue;
    margin-left: auto;
}
#inventory-tab{
    display: none;
}
#equip-slots-container{
    margin: 0 5px;
}


/*Level Up Screen*/
#level-up-screen{
    display: none;
    background-image: url("./media/titleScreen.jpg");
    background-size:cover;
    height: 100vh;
}
#level-up-screen-btn-container{
    display:flex;
    justify-content: space-between;
    margin: 10% 5%;
}
#submit-level-btn{
    margin:auto;
}
